@charset "ISO-8859-1";

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css");

.container1 {
	width: 80%;
	margin: 0 auto; /* Center the DIV horizontally */
}

.fixed-header, .fixed-footer {
	width: 100%;
	position: fixed;
	/* background: #B589D6; */
	background: #d4bdf9;
	padding: 10px 0;
	color: #fff;
}

.fixed-header {
	top: 0;
}

.fixed-footer {
	bottom: 0;
}
/* Some more styles to beutify this example */
nav {
	color: #fff;
	text-decoration: none;
	padding: 7px 25px;
	display: flex;
}

.container1 p {
	line-height: 200px; /* Create scrollbar to test positioning */
}

body {
	font-family: Arial, Helvetica, sans-serif;
	
}

.wrapper {
	border: 1px solid gray;
	margin-top: 10%;
	max-width: 550px;
	margin-left: 25%;
	margin-right: 15%;
}

.welcome{
	float:right;
	padding-right: 5%;
	display:flex;
	text-align: center;
}

.fa-times-circle{
	color:red;
	font-size: 160%;
}

.heading{
  margin-top: -2.3%;
  color:#87CEEB;
  font-weight: bolder;
  padding-left: 2%;	
}

#info {
	padding: 10px 0 0 10px;
}

.form-in{
 	margin-left: 10%;
	margin-right: 10%;
    padding-top: 5%;
	padding-bottom: 5%;
	 
}
.labelup{
	border: 2px solid gray;
	color:white;
}